<div class="footer">
    <p class="text-center"><span class="text-capitalize">{{appInfo.name}}</span> :: version <span class="text-lowercase">{{appInfo.version}}</span></p>
</div>
<template ngbModalContainer></template>
