<div>
    <h2>
        <span jhiTranslate="trialslinkApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right create-address" [routerLink]="['/', { outlets: { popup: ['address-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="street"><span jhiTranslate="trialslinkApp.address.street">Street</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="trialslinkApp.address.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="county"><span jhiTranslate="trialslinkApp.address.county">County</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="postalCode"><span jhiTranslate="trialslinkApp.address.postalCode">Postal Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="trialslinkApp.address.country">Country</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address', address.id ]">{{address.id}}</a></td>
                <td>{{address.street}}</td>
                <td>{{address.city}}</td>
                <td>{{address.county}}</td>
                <td>{{address.postalCode}}</td>
                <td>{{address.country}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
