<div>
    <h2>
        <br>

        <div class="btn-group flex-btn-group-container">
            <button class="btn btn-success create-condition" (click)="addCondition()"
                    ngbTooltip="Click to add new condition" placement="bottom">
                <span class="fa fa-plus"></span>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-default float-right" (click)="deleteAllConditions()"
                    ngbTooltip="Click to delete all conditions for this trial" placement="bottom">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>

    <div *ngIf="addingNew" class="container">
        <form>
            <div class="form-group row">
                <label for="newCondition_label" class="col-sm-2 col-form-label"
                       jhiTranslate="trialslinkApp.condition.label">Label</label>
                <div class="col-sm-10">
                    <ng-select id="newCondition_label" [multiple]="false"
                               [items]="knownConditions"
                               (selected)="onConditionSelect($event)"
                               placeholder="No condition selected">
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="newCondition_status" class="col-sm-2 col-form-label"
                       jhiTranslate="trialslinkApp.condition.status">Status</label>
                <div class="col-sm-10">
                    <ng-select id="newCondition_status" [multiple]="false"
                               [items]="knownStatuses"
                               (selected)="onStatusSelect($event)"
                               placeholder="No status selected">
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-danger" (click)="addingNew = false;">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" class="btn btn-success" (click)="save()">
                        <span class="fa fa-save"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive" *ngIf="conditions">

        <!--<div *ngIf="gridLayout" class="container">-->
            <!--<masonry>-->
                <!--<masonry-brick *ngFor="let condition of conditions; trackBy: trackId">-->
                    <!--<jhi-condition-detail [condition]="condition" [gridLayout]="gridLayout"></jhi-condition-detail>-->
                <!--</masonry-brick>-->
            <!--</masonry>-->
        <!--</div>-->
        <div *ngIf="!gridLayout">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span jhiTranslate="trialslinkApp.condition.label">Label</span></th>
                    <th><span jhiTranslate="trialslinkApp.condition.status">Status</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let condition of conditions; trackBy: trackId">
                    <jhi-condition-detail [condition]="condition" [knownConditions]="knownConditions" [knownStatuses]="knownStatuses" [gridLayout]="gridLayout"></jhi-condition-detail>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
