
<div *ngIf="secondaryId">
    <h2><span jhiTranslate="trialslinkApp.secondaryId.detail.title">Secondary Id</span> {{secondaryId.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.secondaryId.type">Type</span></dt>
        <dd>
            <span>{{secondaryId.type}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.secondaryId.value">Value</span></dt>
        <dd>
            <span>{{secondaryId.value}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'secondary-id/'+ secondaryId.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
