
<div *ngIf="practitioner">
    <h2><span jhiTranslate="trialslinkApp.practitioner.detail.title">Practitioner</span> {{practitioner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.practitioner.name">Name</span></dt>
        <dd>
            <span>{{practitioner.name}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.practitioner.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'trialslinkApp.Gender.' + practitioner.gender}}">{{practitioner.gender}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'practitioner/'+ practitioner.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
