<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet name="sidebar"></router-outlet>
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
    <!-- Uncomment below and comment bt above to enable sidebar -->
    <!--<div class="row">-->
    <!--<router-outlet name="sidebar"></router-outlet>-->
    <!--&lt;!&ndash;<main class="col-md-9 col-xs-11 p-l-2 p-t-2">&ndash;&gt;-->
    <!--<div class="col-lg-9 col-md-9 col-xs-11 jh-card">-->
    <!--<router-outlet></router-outlet>-->
    <!--<router-outlet name="popup"></router-outlet>-->
    <!--</div>-->
    <!--</div>-->
    <!--<jhi-footer></jhi-footer>-->
</div>
