<div>
    <div class="table-responsive" *ngIf="trialCentres.length == 0">
        <div class="alert alert-warning ">
            <span jhiTranslate="trialslinkApp.trialCentre.home.missingLabel">Oh no! You do not seem to have any trial centres for this trial. Do you want to add one?</span>
        </div>
    </div>
    <div class="table-responsive" *ngIf="trialCentres.length > 0">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <ngb-panel *ngFor="let trialCentre of trialCentres ;trackBy: trackId">
                <template ngbPanelTitle>
                    <span class="fa fa-users"></span>
                    &nbsp;
                    <span><b>{{trialCentre.name}}</b></span>
                    <div class="btn-group float-right flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-centre/'+ trialCentre.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trial-centre/'+ trialCentre.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </template>
                <template ngbPanelContent>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><span jhiTranslate="trialslinkApp.trialCentre.name">Name</span></td>
                            <td>
                                {{trialCentre.name}}
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="trialslinkApp.trialCentre.startDate">Start Date</span></td>
                            <td>{{trialCentre.startDate | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="trialslinkApp.trialCentre.endDate">End Date</span></td>
                            <td>{{trialCentre.endDate | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="trialslinkApp.trialCentre.status">Status</span></td>
                            <td>{{trialCentre.status}}</td>
                        </tr>
                        <!--<tr>-->
                            <!--<td><span jhiTranslate="trialslinkApp.trialCentre.days">Days</span></td>-->
                            <!--<td><span *ngFor="let day of trialCentre.days">{{day.name}}</span></td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                    <jhi-contact-list [trialCentre]="trialCentre"></jhi-contact-list>
                </template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
