
<div *ngIf="age">
    <h2><span jhiTranslate="trialslinkApp.age.detail.title">Age</span> {{age.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.age.value">Value</span></dt>
        <dd>
            <span>{{age.value}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.age.unit">Unit</span></dt>
        <dd>
            <span jhiTranslate="{{'trialslinkApp.AgeUnit.' + age.unit}}">{{age.unit}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'age/'+ age.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
