<div class="row">
    <div class="col-md-3">
        <!--<span class="hipster img-fluid img-rounded"></span>-->
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                <div>
                    Click here to view
                    <a routerLink="trial" >
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.trial">Trial</span>s
                    </a>
                </div>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on Trialslink:
        </p>

        <ul>
            <li><a href="https://noesisinformatica.gitlab.io/trialslink" target="_blank" jhiTranslate="home.link.homepage">Trialslink homepage</a></li>
            <!--<li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" jhiTranslate="home.link.stackoverflow">Trialslink on Stack Overflow</a></li>-->
            <li><a href="https://gitlab.com/noesisinformatica/trialslinkissues" target="_blank" jhiTranslate="home.link.bugtracker">Trialslink bug tracker</a></li>
            <!--<li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" jhiTranslate="home.link.chat">Trialslink public chat room</a></li>-->
            <li><a href="https://twitter.com/trialslink" target="_blank"  jhiTranslate="home.link.follow">follow @trialslink on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like Trialslink, don't forget to give us a star on</span> <a href="https://gitlab.com/noesisinformatica/trialslink" target="_blank" jhiTranslate="home.github">Github</a>!
        </p>
    </div>
</div>
