<div>
    <h2>
        <span jhiTranslate="trialslinkApp.concept.home.title">Concepts</span>
        <button class="btn btn-primary float-right create-concept" [routerLink]="['/', { outlets: { popup: ['concept-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.concept.home.createLabel">
            Create new Concept
            </span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-info float-right" (click)="indexAll()">
            <span class="fa fa-cog"></span>
                    <span jhiTranslate="trialslinkApp.concept.home.indexLabel">
                    Index all concepts
                    </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="concepts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trialslinkApp.concept.label">Label</span></th>
            <th><span jhiTranslate="trialslinkApp.concept.system">System</span></th>
            <th><span jhiTranslate="trialslinkApp.concept.code">Code</span></th>
                <th><span jhiTranslate="trialslinkApp.concept.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let concept of concepts ;trackBy: trackId">
                <td><a [routerLink]="['../concept', concept.id ]">{{concept.id}}</a></td>
                <td>{{concept.label}}</td>
                <td>{{concept.system}}</td>
                <td>{{concept.code}}</td>
                <td>{{concept.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../concept', concept.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'concept/'+ concept.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'concept/'+ concept.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
