
<div *ngIf="intervention">
    <h2><span jhiTranslate="trialslinkApp.intervention.detail.title">Intervention</span> {{intervention.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.intervention.label">Label</span></dt>
        <dd>
            <span>{{intervention.label}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.intervention.system">System</span></dt>
        <dd>
            <span>{{intervention.system}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.intervention.code">Code</span></dt>
        <dd>
            <span>{{intervention.code}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.intervention.type">Type</span></dt>
        <dd>
            <span>{{intervention.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'intervention/'+ intervention.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
