<div>
    <h2>
        <!--<span jhiTranslate="trialslinkApp.intervention.home.title">Interventions</span>-->
        <br>
        <button class="btn btn-primary float-right create-intervention" [routerLink]="['/', { outlets: { popup: 'intervention-new/' +trial.id + '/create' } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.intervention.home.createLabel">
            Create new Intervention
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="interventions">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="trialslinkApp.intervention.label">Label</span></th>
            <th><span jhiTranslate="trialslinkApp.intervention.system">System</span></th>
            <th><span jhiTranslate="trialslinkApp.intervention.code">Code</span></th>
            <th><span jhiTranslate="trialslinkApp.intervention.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let intervention of interventions ;trackBy: trackId">
                <!--<td><a [routerLink]="['../intervention', intervention.id ]">{{intervention.id}}</a></td>-->
                <td>{{intervention.label}}</td>
                <td>{{intervention.system}}</td>
                <td>{{intervention.code}}</td>
                <td>{{intervention.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"-->
                                <!--[routerLink]="['../intervention', intervention.id ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<span class="fa fa-eye"></span>-->
                            <!--<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervention/'+ intervention.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'intervention/'+ intervention.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
