
<div *ngIf="trial">
    <h2>{{trial.briefTitle}}
    <button class="btn btn-success float-right create-trial-centre" [routerLink]="['/', { outlets: { popup: 'trial-centre-new/' +trial.id + '/create'} }]">
        <span class="fa fa-plus"></span>
        <span  jhiTranslate="trialslinkApp.trialCentre.home.createLabel">
        Create new Trial Centre
        </span>
    </button>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <ngb-tabset #t="ngbTabset">
        <ngb-tab id="details">
            <template ngbTabTitle>
                <span class="fa fa-tachometer"></span>
                &nbsp;
                <span><b>Details</b></span>
            </template>
            <template ngbTabContent>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.title"><b>Official Title</b></span></td>
                            <td>{{trial.title}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.briefTitle"><b>Display Title</b></span></td>
                            <td>{{trial.briefTitle}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.status"><b>Status</b></span></td>
                            <td><span jhiTranslate="{{'trialslinkApp.TrialStatus.' + trial.status}}">{{trial.status}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.type"><b>Type</b></span></td>
                            <td><span jhiTranslate="{{'trialslinkApp.StudyType.' + trial.type}}">{{trial.type}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.phase"><b>Phase</b></span></td>
                            <td>
                                <span *ngFor="let phase of trial.phases;" class="badge badge-pill badge-default">{{lookup[phase]}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.shortName"><b>ShortName</b></span></td>
                            <td>{{trial.shortName}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.briefSummary"><b>Brief Summary</b></span></td>
                            <td class="div-pre">{{trial.briefSummary}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.detailedDescription"><b>Detailed Description</b></span></td>
                            <td class="div-pre">{{trial.detailedDescription}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.description"><b>Description</b></span></td>
                            <td>{{trial.description}}</td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.startDate"><b>Study Start Date</b></span></td>
                            <td><span>{{trial.startDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.studyCompletionDate"><b>Study Completion Date</b></span></td>
                            <td><span>{{trial.studyCompletionDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.createdDate"><b>Created Date</b></span></td>
                            <td><span>{{trial.createdDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.lastModifiedDate"><b>Last Updated Date</b></span></td>
                            <td><span>{{trial.lastModifiedDate | date:'medium'}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.reasonStopped"><b>Reason Stopped</b></span></td>
                            <td><span>{{trial.reasonStopped}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.note"><b>Note</b></span></td>
                            <td><span>{{trial.note}}</span></td>
                        </tr>
                        <tr>
                            <td><span class="text-right" jhiTranslate="trialslinkApp.trial.keywords"><b>Keywords</b></span></td>
                            <td>
                                <span *ngFor="let keyword of trial.keywords;" class="badge badge-pill badge-primary">{{keyword}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab id="centres">
            <template ngbTabTitle>
                <span class="fa fa-institution"></span>
                &nbsp;
                <span><b>Centres</b></span>
                <span class="badge badge-pill badge-danger">{{trial.sites.length}}</span>
            </template>
            <template ngbTabContent>
                <jhi-trial-centre-list [trial]="trial"></jhi-trial-centre-list>
            </template>
        </ngb-tab>
        <ngb-tab id="ids">
            <template ngbTabTitle>
                <span class="fa fa-barcode"></span>
                &nbsp;
                <span><b>Identifiers</b></span>
            </template>
            <template ngbTabContent>
                <jhi-id-info-embedded [trial]="trial"></jhi-id-info-embedded>
            </template>
        </ngb-tab>
        <ngb-tab id="criteria">
            <template ngbTabTitle>
                <span class="fa fa-check"></span>
                &nbsp;
                <span><b>Criteria</b></span>
            </template>
            <template ngbTabContent>
                <jhi-characteristic-list [trial]="trial"></jhi-characteristic-list>
            </template>
        </ngb-tab>
        <ngb-tab id="interventions">
            <template ngbTabTitle>
                <span class="fa fa-bar"></span>
                &nbsp;
                <span><b>Interventions</b></span>
                <span class="badge badge-pill badge-danger">{{trial.interventions.length}}</span>
            </template>
            <template ngbTabContent>
                <jhi-intervention-list [trial]="trial"></jhi-intervention-list>
            </template>
        </ngb-tab>
        <ngb-tab id="conditions">
            <template ngbTabTitle>
                <span class="fa fa-bar"></span>
                &nbsp;
                <span><b>Conditions</b></span>
                <span class="badge badge-pill badge-danger">{{trial.conditions.length}}</span>
            </template>
            <template ngbTabContent>
                <jhi-condition-list [trial]="trial"></jhi-condition-list>
            </template>
        </ngb-tab>
    </ngb-tabset>

    <div class="modal-footer">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-warning">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
</div>
