<div>
    <h3>
        <span jhiTranslate="trialslinkApp.contact.home.title">Contacts</span>
        <button class="btn btn-success float-right create-contact" [routerLink]="['/', { outlets: { popup: 'contact-new/' +trialCentre.id + '/create' } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.contact.home.createLabel">
            Create new Contact
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contacts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="personName"><span jhiTranslate="trialslinkApp.contact.personName">Person Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="trialslinkApp.contact.phone">Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="trialslinkApp.contact.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purpose"><span jhiTranslate="trialslinkApp.contact.purpose">Role</span> <span class="fa fa-sort"></span></th>
            <th>
            </th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let contact of contacts ;trackBy: trackId">
                <td>{{contact.personName}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.role.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contact/'+ contact.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
